<div class="container row mx-auto col-10 col-md-8 col-lg-6">
  <h2 class="fs-1 text-center mb-5 text-light fw-bolder">Add Your Own Recipe Below</h2>
  <div class="align-items-center mb-5 bg-primary shadow-lg rounded-4 text-light p-4 bg-gradient">
    <form>
      <div class="mb-3">
        <label for="recipeName" class="form-label">Enter your blogpost here. 
        </label>
        <input type="text" class="form-control shadow" id="recipeName">
      </div>

     
<script src="/js/addBlogPost.js"></script>